<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}zh-CN{{end}}">
{{ partial "head" . }}
  <!-- 引入 Mermaid.js -->
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
<body>
    {{ partial "header" . }}
    <div id="body">
        <div class="container">
            <div class="col-group">

                <div class="col-8" id="main">
                    {{ block "content" . }}{{ end }}
                    {{ partial "footer" . }}
                </div>

                {{ partial "sidebar" . }}
            </div>
        </div>
    </div>
</body>

</html>
